WarningsAsErrors : '*'
Checks           : 'google-*,bugprone-*,-bugprone-easily-swappable-parameters,cert-*,clang-*,concurrency-*,cppcoreguidelines-*,-cppcoreguidelines-pro-type-union-access,-cppcoreguidelines-pro-bounds-constant-array-index,hicpp-*,misc-*,modernize-*,performance-*,portability-*,readability-*'
FormatStyle      : 'file'
